/* FILE: blocks/_block.scss */

// Wrapper for single product FSE blocks.
// @see   Automattic\WooCommerce\Blocks\Templates\SingleProductTemplateCompatibility::create_wrap_block_group()
// @link  https://github.com/woocommerce/woocommerce/blob/8.5.2/plugins/woocommerce/src/Blocks/Templates/SingleProductTemplateCompatibility.php#L365

	.wp-block-group.woocommerce {
		margin-block: 0;
	}

// Fixing block editor styling issue.

	[style*="font-size"] > [style*="font-size"],
	[data-type^="woocommerce"][style*="font-size"] [style*="font-size"]:not([data-type]) {
		font-size: 1em !important;
	}

// Product name in block shop tables, for example.

	.wc-block-components-product-name {
		margin-block-end: $ratio_min + em;
		font-family: var(--wcti--font-family--headings);
		font-size: 1.2em;
		font-weight: var(--wcti--font-weight--headings);
		line-height: 1 + $ratio_min;
	}

// Border color.

	.wc-block-components-sidebar {

		&,
		> * {
			border-color: inherit;
		}
	}

	.wc-block-components-quantity-selector::after {
		border-color: inherit;
	}
