/* FILE: woocommerce/blocks/_block.scss */

// Wrapper for single product FSE blocks.
// @see   Automattic\WooCommerce\Blocks\Templates\SingleProductTemplateCompatibility::create_wrap_block_group()
// @link  https://github.com/woocommerce/woocommerce/blob/8.5.2/plugins/woocommerce/src/Blocks/Templates/SingleProductTemplateCompatibility.php#L365
.wp-block-group.woocommerce {
	margin-block: 0;
}

// Fixing block editor styling issue.
[style*="font-size"] > [style*="font-size"],
[data-type^="woocommerce"][style*="font-size"] [style*="font-size"]:not([data-type]) {
	font-size: 1em !important;
}

// Checkboxes.
.wc-block-components-checkbox {

	.wc-block-components-checkbox__input[type=checkbox] {
		padding: 0;
		background: transparent;
		border: 2px solid;
		border-radius: var(--wcti--border--radius);

		&:checked {
			background: var(--wcti--color--accent);
			color: var(--wcti--color--accent-contrast);
			border-color: var(--wcti--color--accent);
		}
	}

	.wc-block-components-checkbox__mark {
		fill: var(--wcti--color--accent-contrast);
	}
}

// Radio buttons.
.wc-block-components-radio-control .wc-block-components-radio-control__input {
	padding: 0;
}

// Star ratings in various blocks.
.wc-block-review-list-item__rating > .wc-block-review-list-item__rating__stars,
.wc-block-grid__product-rating .star-rating {
	width: auto;
	height: 1em;
	font-family: inherit;
	line-height: 1;
	color: var(--wcti--color--accent);
	vertical-align: baseline;
	overflow: hidden;

	&::before {
		content: '\2606\2606\2606\2606\2606'; // WHITE STAR
		position: relative;
		opacity: 1;
	}

	span::before {
		content: '\2605\2605\2605\2605\2605'; // BLACK STAR
		color: inherit;
	}
}
