/* FILE: woocommerce/blocks/_cart.scss */

.wc-block-mini-cart {

	&__template-part {
		font-size: var(--wcti--font-size--s);
	}

	&__template-part &__title {
		margin-top: 1rem;
	}

	&__icon {
		width: $ratio_min + 1em;
		height: $ratio_min + 1em;
	}

	&__badge {
		font-size: var(--wcti--font-size--xs);
	}

	&__drawer .wc-block-components-drawer__close-wrapper .wc-block-components-button {
		border-color: inherit;
	}
}

.wc-block-cart-item__image {

	img {
		border-radius: var(--wcti--border--radius);
	}
}

.wp-block-woocommerce-cart-order-summary-block,
.wp-block-woocommerce-checkout-order-summary-block {
	@extend %shaded_background;
	position: relative;
	border-radius: var(--wcti--border--radius);

	> div {

		&:first-child {
			border-top-left-radius: var(--wcti--border--radius);
			border-top-right-radius: var(--wcti--border--radius);
		}

		&:not(:empty) {
			padding-block: 1rem;

			> div[class] {
				padding-inline: $ratio + rem;
			}
		}
	}
}

	.wp-block-woocommerce-cart-order-summary-block {
		margin-block-end: 1rem;

		.wc-block-cart__totals-title[class] {
			padding: 1rem ( $ratio + rem );
		}
	}

.wc-block-components-totals-coupon__form .wc-block-components-totals-coupon__button {
	height: auto;
}
