/* FILE: woocommerce/blocks/_featured-product.scss */

.wc-block-featured-product {
	position: relative;
	padding: 2rem 1rem;
	border-radius: var(--wcti--border--radius);

	@include media( map_get( $breakpoint, 'm' ) ) {
		padding-left: 2rem;
		padding-right: 2rem;
	}

	.wc-block-featured-product__wrapper {
		flex-direction: column;
	}

	.wc-block-featured-product__title,
	.wc-block-featured-product__description,
	.wc-block-featured-product__price,
	.wc-block-featured-product__link {
		max-width: 22rem;
		padding: 0;
		margin: 10px 0;
	}

	.wc-block-featured-product__title {
		font-size: var(--wcti--font-size--heading--block--featured-product);
	}

	.wc-block-featured-product__description {

		&,
		p {
			line-height: inherit;
		}
	}

	&__price {
		font-size: $ratio + em;
		font-weight: 700;

		del {
			font-size: $ratio_maj + em;
			font-weight: 400;
		}

		ins {
			padding: 0;
			margin: 0;
			text-decoration: none;
		}
	}
}
