/* FILE: blocks/_filters.scss */

// Common.

	.wc-blocks-filter-wrapper,
	.wp-block-woocommerce-filter-wrapper .block-editor-block-list__layout {

		> .wp-block-heading {
			margin-bottom: 1em;
			font-size: 1em;
			font-weight: var(--wcti--font-weight--headings);
			line-height: 1.25;
			text-transform: uppercase;
			letter-spacing: var(--wcti--spacing--letters);
		}
	}

	.wc-block-attribute-filter__actions,
	.wc-block-price-filter__actions,
	.wc-block-rating-filter__actions,
	.wc-block-stock-filter__actions,
	.wc-block-components-price-slider__actions {

		&[class] button[type=submit]:not(.wp-block-search__button).wc-block-components-filter-submit-button {
			padding: .5em 1em;
			font-size: var(--wcti--font-size--xs);
		}
	}

	.wc-block-active-filters,
	.wc-block-components-price-slider,
	.wc-block-stock-filter,
	.wp-block-woocommerce-rating-filter {
		margin-bottom: 0;
	}

// Specific:

	// Attribute filter.

		.wc-block-attribute-filter-list-count {
			margin-inline-start: .25em;
		}

	// Active filters.

		.wc-block-active-filters {

			.wc-block-active-filters__clear-all {
				font-size: var(--wcti--font-size--xs);
				text-decoration: none;
				color: var(--wcti--color--accent);

				&:active {
					background: none;
				}
			}
		}
