/* FILE: blocks/_notice.scss */

.wc-block-components-notice-banner[class] {
	@extend %shaded_background;
	gap: .5em;
	position: relative;
	padding: 1em !important;
	margin: 0 auto ( $ratio + em );
	font-size: 1em;
	line-height: inherit;
	background: none;
	color: inherit;
	border: none;
	border-radius: var(--wcti--border--radius);

	@include media( map_get( $breakpoint, 'l' ) ) {
		gap: 1em;
		padding-left: 2em !important;
		padding-right: 2em !important;
	}

	&:last-child {
		margin-bottom: 2em;
	}

	> .wc-block-components-notice-banner__content {
		padding-inline: 0;

		li + li {
			margin-top: $ratio_maj + em;
		}
	}

	> svg {
		fill: currentColor;
		width: $ratio_min + 1em;
		height: $ratio_min + 1em;
		padding: 0;
		margin-#{$left}: -.5em;
		background: none;
		border-radius: 0;

		@include media( map_get( $breakpoint, 'l' ) ) {
			width: $ratio + em;
			height: $ratio + em;
			margin-#{$left}: 0;
		}
	}

	> .button,
	> .wp-element-button,
	> .wc-block-components-button,
	> .wc-block-components-notice-banner__content .button,
	> .wc-block-components-notice-banner__content .wp-element-button {
		float: $right;
		height: auto !important;
		width: auto !important;
		padding: 0 !important;
		margin-#{$left}: 1em;
		text-align: inherit;
		line-height: inherit !important;
		background: none !important;
		color: inherit !important;
		border: 0 !important;
		border-radius: 0 !important;
		opacity: 1 !important;

		&:not(:hover):not(:focus):not(:active) {
			text-decoration: none;
		}

		@include media( ( map_get( $breakpoint, 'm' ), 'max-width' ) ) {
			float: none;
			display: block;
			padding-top: $ratio_min + em !important;
			padding-bottom: $ratio_min + em !important;
			margin-top: $ratio_min + em;
			margin-#{$left}: 0;
		}

		&,
		&:hover,
		&:focus,
		&:active {
			box-shadow: none !important;
		}
	}

	&.is-error,
	&.is-warning,
	&.is-success,
	&.is-info {
		border-color: inherit;
		background: none;

		> svg {
			background: none;
		}
	}

	&.is-error::before {
		background: var(--wcti--color--accent);
	}

	// Yes, this is needed.
	// For example in WC8 in coupon notice on Checkout page.
	p:empty {
		display: none;
	}
}
