/* FILE: blocks/_products.scss */

.wc-block-grid {
	text-align: inherit;

	&__product {
		position: relative;
		padding: 0;
		text-align: inherit;
		border-width: 0;

		&-link {
			@extend %clearfix;
			text-decoration: none;
			color: inherit;

			&[class] {
				display: block;
			}
		}

		.wc-block-grid__product-image {

			&[class] {
				display: block;
				vertical-align: top;
				border-radius: var(--wcti--border--radius);
			}

			&:not(.wc-block-components-product-image) {
				margin: 0 auto ( $ratio + em );
			}

			img {
				border-radius: inherit;

				&[alt=""] {
					border: none;
				}
			}
		}

		.wc-block-grid__product-title {
			display: inline;
			margin: 0;
			margin-inline-end: .5rem;
			font-family: var(--wcti--font-family--headings);
			font-size: var(--wcti--font-size--heading--products-product);
			font-weight: var(--wcti--font-weight--headings);
			color: var(--wcti--color--content-h);

			a:not(:hover):not(:focus):not(:active) {
				text-decoration: none;
			}
		}

		.wc-block-grid__product-onsale {
			position: absolute;
			inline-start: 0;
			inline-end: auto;
			top: 0;
			bottom: auto;
			padding: math.div( .5em, .8 ) math.div( 1em, .8 );
			font-size: var(--wcti--font-size--xs);
			font-weight: var(--wcti--font-weight--badge);
			text-transform: uppercase;
			letter-spacing: var(--wcti--spacing--letters);
			background: var(--wcti--color--accent);
			color: var(--wcti--color--accent-contrast);
			border: 0;
			border-radius: var(--wcti--border--radius) 0 var(--wcti--border--radius) 0;
		}

		.wc-block-grid__product-price {
			margin: .25rem 0 0;
			font-size: var(--wcti--font-size--s);
			line-height: 1.25;
		}

		.wc-block-grid__product-add-to-cart[class] {
			margin: var(--wcti--spacing--margin--products-add-to-cart--top) 0 0;
		}

		.added_to_cart {

			&::before {
				content: ' \2192'; // &rarr;

				.rtl & {
					content: ' \2190'; // &larr;
				}
			}
		}
	}

	.wc-block-grid__product-rating[class] {
		max-height: 1em;
		margin: .25em 0 0;
	}

	&.has-aligned-buttons .wc-block-grid__product > :last-child {
		padding-top: var(--wcti--spacing--margin--products-add-to-cart--top);
		padding-bottom: 0;
	}
}

:where(body:not(.no-custom-loop-add-to-cart)) .wc-block-grid__product .wp-block-button {

	.wp-block-button__link,
	.added_to_cart {
		display: block;
		width: 100%;
		padding: .25em 0;
		margin: 0;
		font-size: var(--wcti--font-size--xs);
		text-align: inherit;
		text-decoration: none;

		&,
		&:hover,
		&:focus,
		&:active,
		&:visited {
			background: none;
			color: var(--wcti--color--accent);
			border: 0;
			box-shadow: none;
			animation: none;
		}
	}

	.wp-block-button__link.loading::after,
	.wp-block-button__link.added::after {
		position: static;
		left: auto;
		right: auto;
		top: auto;
		margin: 0;
		font-family: inherit;
		vertical-align: baseline;
		animation: none;
	}

	.wp-block-button__link.loading::after {
		content: '\2026'; // &hellip;
	}

	.wp-block-button__link.added::after {
		content: ' \002713'; // check mark
	}

	&__link {
		font-weight: var(--wcti--font-weight--add-to-cart--block);

		&::before {
			content: '+ ';
			speak: none;
		}
	}
}

.wc-block-grid.wc-block-grid .wc-block-grid__products {

	&,
	.editor-styles-wrapper & {
		display: flex;
		flex-wrap: wrap;
		margin: calc( var(--wcti--spacing--gap--posts-list) * -1 ) calc( var(--wcti--spacing--gap--posts-list) / 2 * -1 );

		.wc-block-grid__product[class] {
			flex: 0 1 auto; // Have to override WooCommerce block default styles.
			max-width: none;
			padding-inline: 0;
			margin: var(--wcti--spacing--gap--posts-list) calc( var(--wcti--spacing--gap--posts-list) / 2 );
			font-size: 1em;
		}
	}
}

.alignfull.alignfull > .wc-block-grid__products {
	margin-left: calc( var(--wcti--spacing--gap--posts-list) / 2 );
	margin-right: calc( var(--wcti--spacing--gap--posts-list) / 2 );
}

// Columns.

	.wc-block-grid__product {
		@extend %posts_list_columns_1;
	}

	.has-catalog-columns-mobile-2 {

		.wp-block-woocommerce-related-products {

			.wp-block-post-template-is-layout-grid.wp-block-post-template-is-layout-grid {

				@media (max-width: 600px) {
					grid-template-columns: 1fr 1fr;
					gap: var(--wcti--spacing--gap--posts-list);
				}
			}
		}

		.wc-block-grid.wc-block-grid .wc-block-grid__product {
			@extend %posts_list_columns_2_mobile;
		}
	}

	@for $i from 2 through 6 {
		.wc-block-grid.has-#{$i}-columns .wc-block-grid__product {
			@extend %posts_list_columns_#{$i};
		}
	}
