/* FILE: blocks/_star-rating.scss */

body .wc-block-components-product-rating__stars[class],
// Also need to target Cart page cross-sells products:
body .wc-block-components-product-rating-stars__stars[class] { // The class inconsistency is ridiculous...
	@extend %star_rating;

	&::before {
		position: relative;
	}
}

.wc-block-components-checkbox,
.wc-blocks-components-form-token-field-wrapper {

	.wc-block-components-product-rating {
		display: inline-block; // For editor.
		line-height: 1.5;

		&__stars {
			width: 4.5em;
			font-size: 1.2em;
			vertical-align: middle;
		}
	}
}

.wc-block-review-list-item__rating > .wc-block-review-list-item__rating__stars,
.wc-block-grid__product-rating .star-rating {
	width: auto;
	height: 1em;
	font-family: inherit;
	line-height: 1;
	color: var(--wcti--color--accent);
	vertical-align: baseline;
	overflow: hidden;

	&::before {
		content: '\2606\2606\2606\2606\2606'; // WHITE STAR
		position: relative;
		opacity: 1;
	}

	span::before {
		content: '\2605\2605\2605\2605\2605'; // BLACK STAR
		color: inherit;
	}
}
