/* FILE: woocommerce/shortcode/_add-to-cart.scss */

.add_to_cart_inline {
	display: inline-block;
	text-align: center;

	.amount {
		font-size: 1.25em;
		font-weight: 700;
	}

	del {
		margin-#{$right}: .25em;
		font-weight: 400;
	}

	.button,
	.added_to_cart {
		display: block;
		margin-top: .5em;
	}

}
