/* FILE: woocommerce/shortcode/_add-to-cart.scss */

.add_to_cart_inline {
	display: inline-block;

	.amount {
		font-size: 1.25em;
		font-weight: var(--wcti--font-weight--price);
	}

	ins {
		padding: 0;
		margin: 0;
		text-decoration: none;
	}

	del {
		margin-inline-end: $ratio_min + em;
		font-size: var(--wcti--font-size--xs);
		font-weight: 400;

		.amount {
			font-weight: inherit;
		}
	}

	.button {
		margin-inline-start: $ratio + em;
	}

	.added_to_cart {
		margin-inline-start: 1em;
	}

	&.is-stacked,
	&.is-stacked-up {

		.button,
		.added_to_cart {
			display: block;
			margin-inline-start: 0;
			margin-top: $ratio_maj + em;
		}
	}
}
