// woocommerce/cart
//
// @since  1.6.7

@import '../tools/_index';
@import '../setup/_index';

.wc-block-cart {
	border-color: inherit;

	&[class] {
		margin-block-end: 0;

		fieldset[class] {
			border-color: inherit;
		}

		.wc-block-cart-items {

			&,
			td {
				border-width: var(--wcti--border--width--item-separator);
			}

			&,
			*:not( .button, .wp-element-button ) {
				// Important is required here to override WC responsive styles.
				border-color: inherit !important;
			}
		}
	}
}

// Sidebar.
.wp-block-woocommerce-cart {

	&-order-summary-block,
	&-express-payment-block {

		&,
		> [class],
		> [class] > [class] {
			border-color: inherit;
		}
	}

	&-order-summary-block {

		.button,
		.wp-element-button {
			font-size: var(--wcti--font-size--s);
		}
	}
}
