// woocommerce/featured-product
//
// @since    1.6.2
// @version  1.8.1
@use 'sass:map';

@import '../tools/_index';
@import '../setup/_index';

.wc-block-featured-product {

	:where( & ) {
		--wp--style--block-gap: 1em;
	}

	position: relative;
	padding: 2rem 1rem;
	border-radius: var(--wcti--border--radius);

	@include media( map.get( $breakpoint, 'm' ) ) {
		padding-inline: 2rem;
	}

	.wc-block-featured-product__wrapper {
		flex-direction: column;
	}

	.wc-block-featured-product__title,
	.wc-block-featured-product__description,
	.wc-block-featured-product__price,
	.wc-block-featured-product__link {
		max-width: 22rem;
		padding: 0;
		margin: 10px 0;
	}

	.wc-block-featured-product__title {
		font-size: var(--wcti--font-size--heading--block--featured-product);
	}

	.wc-block-featured-product__description {

		&,
		p {
			line-height: inherit;
		}
	}

	&__price {
		font-size: $ratio + em;
		font-weight: var(--wcti--font-weight--price);

		del {
			font-size: $ratio_maj + em;
			font-weight: 400;
		}

		ins {
			padding: 0;
			margin: 0;
			text-decoration: none;
		}
	}

	&__inner-blocks {

		&,
		> .block-editor-inner-blocks > .block-editor-block-list__layout {
			display: flex;
			flex-direction: column;
			gap: var(--wp--style--block-gap);
			max-width: 22rem;
			padding: 0;
		}

		.wc-block-components-product-summary {
			margin-block: 0;
		}
	}
}

.is-vertical[class*="is-content-justification-"] {

	.wc-block-featured-product {
		flex-direction: column;

		&,
		&__wrapper {
			justify-content: inherit;
		}
	}
}
