// woocommerce/featured-category
//
// @since  1.6.2

@import '../tools/_index';
@import '../setup/_index';

.wc-block-featured-category {
	position: relative;
	padding: 2rem 1rem;
	border-radius: var(--wcti--border--radius);

	@include media( map_get( $breakpoint, 'm' ) ) {
		padding-inline: 2rem;
	}

	.wc-block-featured-category__wrapper {
		flex-direction: column;
	}

	.wc-block-featured-category__title,
	.wc-block-featured-category__description,
	.wc-block-featured-category__price,
	.wc-block-featured-category__link {
		max-width: 22rem;
		padding: 0;
		margin: 10px 0;
	}

	.wc-block-featured-category__title {
		font-size: var(--wcti--font-size--heading--block--featured-category);
	}

	.wc-block-featured-category__description {
		line-height: inherit;
	}
}
