// woocommerce/featured-category
//
// @since    1.6.2
// @version  1.8.1
@use 'sass:map';

@import '../tools/_index';
@import '../setup/_index';

.wc-block-featured-category {
	position: relative;
	padding: 2rem 1rem;
	border-radius: var(--wcti--border--radius);

	@include media( map.get( $breakpoint, 'm' ) ) {
		padding-inline: 2rem;
	}

	.wc-block-featured-category__wrapper {
		flex-direction: column;
	}

	.wc-block-featured-category__title,
	.wc-block-featured-category__description,
	.wc-block-featured-category__price,
	.wc-block-featured-category__link {
		max-width: 22rem;
		padding: 0;
		margin: 10px 0;
	}

	.wc-block-featured-category__title {
		font-size: var(--wcti--font-size--heading--block--featured-category);
	}

	.wc-block-featured-category__description {
		line-height: inherit;
	}

	&__inner-blocks {

		&,
		> .block-editor-inner-blocks > .block-editor-block-list__layout {
			display: flex;
			flex-direction: column;
			gap: var(--wp--style--block-gap);
			max-width: 22rem;
			padding: 0;
		}

		p {
			margin-block: 0;
		}
	}
}

.is-vertical[class*="is-content-justification-"] {

	.wc-block-featured-category {
		flex-direction: column;

		&,
		&__wrapper {
			justify-content: inherit;
		}
	}
}
