// woocommerce/order-confirmation-downloads-wrapper
//
// @since  1.7.0

@import '../tools/_index';
@import '../setup/_index';

.wc-block-order-confirmation-downloads {
	border-color: inherit !important;

	--wcti--table--padding: 1em;
	@include media( map_get( $breakpoint, 'xl' ) ) {
		--wcti--table--padding: 2em;
	}

	table {
		@extend %shaded_background;
		position: relative;
		padding: 1em;
		border-radius: var(--wcti--border--radius);

		&,
		th,
		td {
			border: 0 solid;
			border-color: inherit;
		}

		th,
		td {
			padding: #{ $ratio_maj + em } 1em;

			&:first-child {
				padding-inline-start: var(--wcti--table--padding);
			}

			&:last-child {
				padding-inline-end: var(--wcti--table--padding);
			}
		}
	}

	thead {

		tr:first-child th {
			padding-block-start: var(--wcti--table--padding);
		}

		th {
			border-bottom: 5px double;
			border-color: inherit;
		}
	}

	tbody {

		tr {

			&:not(:first-child) {

				td {
					border-top: var(--wcti--border--width--item-separator) solid;
					border-color: inherit;
				}
			}

			&:last-child {

				td {
					padding-block-end: var(--wcti--table--padding);
				}
			}
		}
	}

	.button.button.alt {
		display: inline-block;
		width: auto;
		padding: ( $ratio_maj + em ) 1em;
		margin: 0;
		font-size: var(--wcti--font-size--s);
	}
}

@import '../_extend';
