// woocommerce/order-confirmation-shipping-wrapper
//
// @since  1.7.0

@import '../tools/_index';
@import '../setup/_index';

.wc-block-order-confirmation-shipping-address[class] {
	border-width: var(--wcti--border--width);
	border-color: inherit;
	border-radius: var(--wcti--border--radius);
}
