// woocommerce/order-confirmation-shipping-wrapper
//
// @since    1.7.0
// @version  1.8.4

@import '../tools/_index';
@import '../setup/_index';

.wc-block-order-confirmation-shipping {

	&-wrapper {
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	&-address[class] {
		flex: 1;
		border-width: var(--wcti--border--width);
		border-color: inherit;
		border-radius: var(--wcti--border--radius);
	}
}
