// woocommerce/product-categories
//
// @since    1.6.2
// @version  1.6.3
@use 'sass:math';

@import '../tools/_index';
@import '../setup/_index';

.wc-block-product-categories {

	&:not([class*="is-style-"]),
	&.is-style-default {

		ul {
			@extend %widget_list_items;
			clear: both;
			max-width: 100%;
			list-style: none;
		}

		li {

			&::before {
				display: none;
			}
		}

		a {
			font-size: var(--wcti--font-size--s);
			font-weight: 600;
			text-transform: uppercase;
			letter-spacing: var(--wcti--spacing--letters);
			color: inherit;
		}

		.wc-block-product-categories-list-item-count {
			font-size: var(--wcti--font-size--s);
		}

		.wc-block-product-categories__button {

			&:not(:disabled):not([aria-disabled=true]):hover,
			&:focus:enabled {
				background: var(--wcti--color--button-bg);
				color: var(--wcti--color--button-txt);
				box-shadow: none;
				animation: none;
			}

			&:focus:enabled {
				outline: 2px dashed var(--wcti--color--accent);
				outline-offset: 1px;
			}
		}
	}

	img {
		aspect-ratio: 1;
		object-fit: cover;
		max-width: $ratio + 1em;
		border-radius: inherit;
	}
}

.wc-block-product-categories-list--has-images {

	.wc-block-product-categories-list-item {

		&__image {
			border-color: inherit;
			border-radius: var(--wcti--border--radius);
		}

		ul {
			margin-inline-start: -50px;
		}
	}
}

.editor-styles-wrapper .wc-block-product-categories {
	margin-block: 0;

	ul {
		padding-inline: 0;
		margin-inline: 0;
	}
}

@import '../extend';
