// woocommerce/product-categories
//
// @since    1.6.2
// @version  1.8.1
@use 'sass:map';
@use 'sass:math';

@import '../tools/_index';
@import '../setup/_index';

.wc-block-product-categories {

	&[class]:not([class*="is-style-"]),
	&[class].is-style-default {

		ul {
			@extend %widget_list_items;
			clear: both;
			max-width: 100%;
			list-style: none;
		}

		li {

			&::before {
				display: none;
			}
		}

		a {
			font-size: var(--wcti--font-size--s);
			font-weight: 600;
			text-transform: uppercase;
			letter-spacing: var(--wcti--spacing--letters);
			color: inherit;
		}

		.wc-block-product-categories-list-item-count {
			font-size: var(--wcti--font-size--s);
		}

		.wc-block-product-categories__button {

			&:not(:disabled):not([aria-disabled=true]):hover,
			&:focus:enabled {
				background: var(--wcti--color--button-bg);
				color: var(--wcti--color--button-txt);
				box-shadow: none;
				animation: none;
			}

			&:focus:enabled {
				outline: 2px dashed var(--wcti--color--accent);
				outline-offset: 1px;
			}
		}
	}

	img {
		aspect-ratio: 1;
		object-fit: cover;
		max-width: $ratio + 1em;
		border-radius: inherit;
	}
}

.wc-block-product-categories-list--has-images {
	$image_size: 50px; // WooCommerce default size.

	.wc-block-product-categories-list-item {
		position: relative;

		&__image {
			margin-inline-end: .5rem;
			border-color: inherit;
			border-radius: var(--wcti--border--radius);
		}

		&__name {
			display: inline-block;
			line-height: 1.25;
			vertical-align: middle;
		}

		&-count {
			position: absolute;
			aspect-ratio: 1;
			inset-inline-start: calc( -.5rem - #{ $ratio + em } );
			inset-block-start: calc( #{ $image_size } - #{ $ratio + em } + .25rem );
			width: $ratio + em;
			line-height: $ratio + em;
			text-align: center;
			background: var(--wcti--color--button-bg);
			color: var(--wcti--color--button-txt);
			border-radius: 5em;

			&[class][class] {
				font-size: min( 12px, var(--wcti--font-size--xs) );
			}

			&::before,
			&::after {
				display: none;
			}
		}

		&[class] .wc-block-product-categories-list {
			margin-inline-start: -$image_size;
		}
	}

	.wc-block-product-categories.is-style-inline & .wc-block-product-categories-list-item-count {
		inset-block-start: calc( #{ $image_size } - #{ $ratio + em } );
	}
}

.editor-styles-wrapper .wc-block-product-categories {
	margin-block: 0;

	ul {
		padding-inline: 0;
		margin-inline: 0;
	}
}

@import '../extend';
