// woocommerce/product-categories
//
// @since  1.6.2

@import '../tools/_index';
@import '../setup/_index';

.wc-block-product-categories {

	ul {
		@extend %widget_list_items;
		clear: both;
		max-width: 100%;
	}

	li {

		&::before {
			display: none;
		}
	}

	a {
		font-size: var(--wcti--font-size--s);
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: var(--wcti--spacing--letters);
		color: inherit;
	}

	&-list-item-count {
		font-size: var(--wcti--font-size--xs);
	}

	&__button {

		&:not(:disabled):not([aria-disabled=true]):hover,
		&:focus:enabled {
			background: var(--wcti--color--button-bg);
			color: var(--wcti--color--button-txt);
			box-shadow: none;
			animation: none;
		}

		&:focus:enabled {
			outline: 2px dashed var(--wcti--color--accent);
			outline-offset: 1px;
		}
	}
}

.wc-block-product-categories-list--has-images .wc-block-product-categories-list-item ul {
	margin-#{$left}: -50px;
}
