/* FILE: woocommerce/layout/_base.scss */

.woocommerce-page {

	.site-main {
		max-width: none;
	}

	.entry-content-singular > *:not(.woocommerce):not(.alignfull):not(.alignwide-wrap) {
		max-width: var(--layout_width_entry_content);
		margin-left: auto;
		margin-right: auto;
	}

}
