/* FILE: woocommerce/loop/_loop.scss */

// Unfortunately, in some cases also a DIV wrapper has a class of `.products` so we need to use `ul` in selector below.
ul.products {
	clear: both;
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: calc( -1 * var(--wcti--spacing--gap--posts-list) ) calc( var(--wcti--spacing--gap--posts-list) / 2 * -1 );
	list-style: none;
}

// Columns.
@for $i from 1 through 2 {
	.has-catalog-columns-mobile-#{$i} .products .product {
		width: calc( #{ math.percentage( math.div( 1, $i ) ) } - var(--wcti--spacing--gap--posts-list) );
	}
}
@for $i from 2 through 6 {
	.products.columns-#{$i} .product {
		@extend %posts_list_columns_#{$i};
	}
}
