/* FILE: woocommerce/loop/_products.scss */

// Unfortunately, in some cases also a DIV wrapper has a class of `.products` so we need to use `ul` in selector below.
ul.products {

	.product {
		position: relative;
		margin: var(--wcti--spacing--gap--posts-list) calc( var(--wcti--spacing--gap--posts-list) / 2 );
	}

	.woocommerce-LoopProduct-link {
		@extend %clearfix;
		display: block;
		color: inherit;
	}

	a {
		text-decoration: none;
	}

	img {
		display: block;
		width: 100%;
		margin: 0 auto ( $ratio + em );
		border-radius: var(--wcti--border--radius);
		vertical-align: top;
	}

	h3 {
		margin: 0;
		font-size: var(--wcti--font-size--heading--products-product);
		font-weight: 700;
	}

	.button,
	.added_to_cart {
		display: block;
		padding: .25em 0;
		margin: 0;
		font-size: .8em;
		text-align: inherit;
		text-decoration: none;
		white-space: nowrap;

		&,
		&:hover,
		&:focus,
		&:active,
		&:visited {
			background: none;
			color: var(--wcti--color--accent);
			border: 0;
			box-shadow: none;
			animation: none;
		}
	}

	.button {
		margin-top: var(--wcti--spacing--margin--products-add-to-cart--top);

		&::before {
			content: '+ ';
			speak: none;
		}

		&.loading::after {
			content: '\2026'; // &hellip;
		}

		&.added::after {
			content: ' \002713'; // check mark
		}
	}

	.added_to_cart {
		font-size: .8em;
		font-style: italic;

		&::after {
			content: ' \2192'; // &rarr;

			.rtl & {
				content: ' \2190'; // &larr;
			}
		}
	}
}
