/* FILE: woocommerce/loop/_sorting.scss */

.products-sorting.products-sorting.products-sorting {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	gap: 1em;
	margin: var(--wcti--spacing--margin--products-sorting);

	* {
		margin: 0;
	}
}
