/* FILE: blocks.scss */
@use 'sass:map';
@use 'sass:math';

//
// WooCommerce plugin styles.
//
// @package    Integration for WooCommerce
// @copyright  WebMan Design, Oliver Juhas
//
// @since    1.4.1
// @version  1.8.1
//

@import 'tools/_index';
@import 'setup/_index';

// Need to rise specificity to override WooCommerce
// block styles in classic/hybrid themes, when the
// block CSS is outputted in `wp_footer`, while this
// stylesheet is in `wp_head`.
html {
	@import 'blocks/_index';
}

@import 'extend';
