/* FILE: woocommerce/custom-properties.scss */

//
// Custom properties (CSS variables).
//
// All of these are loaded early enough to be overridden by theme.
//
// @package    Integration for WooCommerce
// @copyright  WebMan Design, Oliver Juhas
//
// @since    1.0.0
// @version  1.4.2
//

@import 'tools/_index';
@import 'setup/_index';

// Core:
:root {

	// Unit is required in `calc()`.
	// A non-zero value is required for minification process not to strip the unit.
	--wcti--zero: var( --zero, 0.001px );

	--wcti--border--radius: 0;
	--wcti--color--accent: var( --color_accent, #f00 );
	--wcti--color--button-bg: var( --color_button_background, #f00 );
	--wcti--color--button-txt: var( --color_button_text, #fff );
	--wcti--color--content-bg: var( --color_content_background, var(--color_body_background, #fff) );
	--wcti--color--content-h: var( --color_content_headings, var(--color_body_headings, #000) );
	--wcti--font-family--headings: var( --typography_font_secondary, var(--typography_font_headings, sans-serif) );
	--wcti--font-size--h1: calc( var(--typography_heading_size_multiplier, 1) * var(--typography_heading_size_1, 2.5em) );
	--wcti--font-size--heading--block--featured-product: 2em;
	--wcti--font-size--heading--block--featured-category: 2em;
	--wcti--font-size--heading--products-product: var( --typography_heading_size_posts, 1.25em );
	--wcti--font-size--heading--uppercase: 1.25em;
	--wcti--opacity--pseudo-bg: var( --pseudo_background_opacity, .05 );
	--wcti--spacing--gap--posts-list: var( --posts_list_gap, 2em );
	--wcti--spacing--letters: var( --letter_spacing, .05em );
	--wcti--spacing--margin--page-header--bottom: 2rem;
	--wcti--spacing--margin--products-add-to-cart--top: .5rem;
	--wcti--spacing--margin--products-sorting: 2rem 0;
	--wcti--spacing--padding--content: var( --content_padding, var(--white_space, 100px) );
	--wcti--spacing--white: var( --white_space, 100px );
	--wcti--width--col--cart-cross-sells: 50%;
	--wcti--width--col--cart-totals: 50%;
	--wcti--width--col--checkout-1: 50%;
	--wcti--width--col--checkout-2: 50%;
	--wcti--width--col--product-gallery: 50%;
	--wcti--width--col--product-summary: 50%;
	--wcti--width--col--review-1: 50%;
	--wcti--width--col--review-2: 50%;
	--wcti--width--col-gap: 1rem;
	--wcti--width--content: var( --layout_width_entry_content, 640px );
	--wcti--width--page-header-content: 100%;
	--wcti--width--scrollbar: var( --scrollbar_width, var(--zero) );
	--wcti--width--wide: var( --layout_width_content, 1280px );

	@include media( map_get( $breakpoint, 'xl' ) ) {
		--wcti--width--col--cart-cross-sells: #{ percentage( $ratio_maj ) };
		--wcti--width--col--cart-totals: #{ percentage( $ratio_min ) };
		--wcti--width--col--checkout-1: #{ percentage( $ratio_maj ) };
		--wcti--width--col--checkout-2: #{ percentage( $ratio_min ) };
		--wcti--width--col--review-1: #{ percentage( $ratio_maj ) };
		--wcti--width--col--review-2: #{ percentage( $ratio_min ) };
	}
}

// Supplemental:
body {
	--wcti--color--accent-contrast: var(--wcti--color--content-bg);
	--wcti--font-size--heading--product-title: var(--wcti--font-size--h1);
	--wcti--width--cart-totals: var(--wcti--width--content);
	--wcti--width--checkout-coupon: var(--wcti--width--content);
	--wcti--width--checkout-login: var(--wcti--width--content);
	--wcti--width--checkout-notice: var(--wcti--width--content);
	--wcti--width--col-gap--cart: var(--wcti--width--col-gap);
	--wcti--width--col-gap--product: var(--wcti--width--col-gap);
	--wcti--width--col-gap--checkout: var(--wcti--width--col-gap);
	--wcti--width--col-gap--review: var(--wcti--width--col-gap);
	--wcti--width--order: var(--wcti--width--content);
	--wcti--width--tab-panel: var(--wcti--width--content);
	--wcti--width--my-account-panel: var(--wcti--width--content);

	&[class] {
		@include media( ( map_get( $breakpoint, 'm' ), 'max-width' ) ) {
			--wcti--spacing--gap--posts-list: 1em;
		}
	}
}

// Modifications:

	.woocommerce-Tabs-panel--reviews {
		--wcti--width--tab-panel: var(--wcti--width--wide);
	}

	.woocommerce-MyAccount-content > .woocommerce-order-downloads {
		--wcti--width--my-account-panel: var(--wcti--width--wide);
	}
