/* FILE: woocommerce/main/_badge.scss */

.onsale {
	padding: .5rem 1rem;
	font-size: var(--wcti--font-size--xs);
	font-weight: var(--wcti--font-weight--badge);
	text-transform: uppercase;
	letter-spacing: var(--wcti--spacing--letters);
	background: var(--wcti--color--accent);
	color: var(--wcti--color--accent-contrast);

	.summary-content & {
		position: absolute;
		#{$left}: 0;
		bottom: 100%;
		border-radius: var(--wcti--border--radius) var(--wcti--border--radius) 0 0;
	}

	.products & {
		position: absolute;
		#{$left}: 0;
		top: 0;
		border-top-#{$left}-radius: var(--wcti--border--radius);
		border-bottom-#{$right}-radius: var(--wcti--border--radius);
	}
}
