/* FILE: woocommerce/main/_badge.scss */

.onsale {
	padding: ( .5em / .8 ) ( 1em / .8 );
	font-size: .8em;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: var(--letter_spacing);
	background: var(--color_accent);
	color: var(--color_content_background);

	.summary-content & {
		position: absolute;
		#{$left}: 0;
		bottom: 100%;
	}

	.products & {
		position: absolute;
		#{$left}: 0;
		top: 0;
	}

}
