/* FILE: woocommerce/main/_badge.scss */

.onsale {
	padding: .5rem 1rem;
	font-size: var(--wcti--font-size--xs);
	font-weight: var(--wcti--font-weight--badge);
	text-transform: uppercase;
	letter-spacing: var(--wcti--spacing--letters);
	background: var(--wcti--color--accent);
	color: var(--wcti--color--accent-contrast);

	.summary-content &,
	.woocommerce[class] .wp-block-woocommerce-product-image-gallery & {
		position: absolute;
		inline-start: 0;
		inline-end: unset; // Required for `product-image-gallery` block.
		bottom: 100%;
		border-radius: var(--wcti--border--radius) var(--wcti--border--radius) 0 0;
	}

	.products & {
		position: absolute;
		inline-start: 0;
		top: 0;
		border-top-inline-start-radius: var(--wcti--border--radius);
		border-bottom-inline-end-radius: var(--wcti--border--radius);
	}
}
