/* FILE: woocommerce/others/_demo.scss */

.woocommerce-store-notice {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 2em;
	width: 100%;
	padding: 1rem 6%;
	margin: 0;
	text-align: center;
	background: var(--wcti--color--accent);
	color: var(--wcti--color--accent-contrast);
	z-index: 100;

	&__dismiss-link {
		font-size: var(--wcti--font-size--xs);
		font-weight: 600;
		text-decoration: none;
		text-transform: uppercase;
		letter-spacing: var(--wcti--spacing--letters);
		white-space: nowrap;
		color: inherit;

		&::before {
			content: '\00a0×\00a0' / ''; // &nbsp;&times;&nbsp;
		}
	}
}

.woocommerce-store-notice,
p.demo_store {
	// This is required to override WC default colors (which use higher specificity selector).
	--wp--preset--color--foreground: var(--wcti--color--accent);
	--wp--preset--color--background: var(--wcti--color--accent-contrast);

	&[class] {
		position: relative;
	}
}
