/* FILE: woocommerce/others/_password-strength.scss */

.woocommerce-password {

	&-strength {
		padding-top: .5em;

		&::before {
			margin-inline-end: .25em;
			vertical-align: .15em;
		}

		&.short,
		&.bad {

			&::before {
				content: '⚠️';
			}
		}

		&.good::before {
			content: '🙂';
		}

		&.strong::before {
			content: '👍';
		}
	}

	&-hint {
		display: block;
		margin-top: .5em;
	}
}
