/* FILE: woocommerce/others/_payment-methods.scss */

#{$selector_wc} {

	.payment_methods {
		padding: 0;
		margin: 0 0 2em;
		list-style: none;

		> li:not(.woocommerce-notice) {
			padding: 0;
			margin-top: .15em;
		}
	}

	.payment_box {
		padding: 1em;
	}

	.about_paypal {
		margin-#{$left}: .5em;
		font-size: var(--wcti--font-size--xs);
		font-weight: 400;
	}
}

.wc_payment_method > {

	.input-radio {
		display: none;
	}

	label {
		display: block;
		padding: .8em 1em;
		margin: 0;
		font-weight: var(--wcti--font-weight--label);
		color: var(--wcti--color--content-h);
		border: 2px solid;
		border-radius: var(--wcti--border--radius);

		.has-text-color &,
		a {
			color: inherit;
		}
	}

	:checked + label {
		background: var(--wcti--color--content-h);
		color: var(--wcti--color--content-bg);

		&::before {
			content: '\002713\00a0'; // check mark + &nbsp;
		}
	}
}

.woocommerce-bacs-bank-details {

	h2 + h3 {
		margin-top: $ratio + rem;
	}

	h3 {
		font-size: var(--wcti--font-size--s);
	}
}
