/* FILE: woocommerce/others/_price.scss */

.price {

	ins {
		padding: 0;
		margin: 0;
		text-decoration: none;
	}

	del + ins {
		margin-#{$left}: $ratio_min + em;
	}

	.products & {
		display: block;
		margin: .25rem 0 0;
		font-size: var(--wcti--font-size--s);
		line-height: 1.25;
	}

	.summary-content & {
		margin-top: ( -$ratio + rem );
		font-size: $ratio + em;
		color: var(--wcti--color--content-h);

		del {
			font-size: var(--wcti--font-size--xs);
		}

		&-range {
			font-size: 1.25rem;
		}
	}

	.entry-title & {
		display: block;
		margin-top: .5em;
		font-size: 1rem;
	}
}

.woocommerce-price-suffix {
	display: block;
	font-weight: 400;
	font-style: italic;
	line-height: 1 + $ratio_min;

	.summary & {
		font-size: .9rem;
	}
}
