/* FILE: woocommerce/others/_shop-table.scss */

.shop_table {

	&,
	th,
	td {
		border-width: 0;
		vertical-align: middle;
	}

	th,
	td {
		padding: .25rem;

		@include media( map_get( $breakpoint, 'm' ) ) {
			padding: .5rem;
		}

		@include media( map_get( $breakpoint, 'l' ) ) {
			padding-top: .75rem;
			padding-bottom: .75rem;
		}

		p {
			margin: 0;
		}
	}

	th {
		font-size: var(--wcti--font-size--xs);
		text-transform: uppercase;
		letter-spacing: var(--wcti--spacing--letters);
		color: var(--wcti--color--content-h);

		.has-text-color & {
			color: inherit;
		}
	}

	tr:not(:last-child) {
		border-bottom-width: 1px;
		border-bottom-style: solid;
	}

	thead {
		border-bottom-width: 4px;
		border-bottom-style: double;
	}

	.remove {
		display: inline-block;
		width: 2em;
		height: 2em;
		font-weight: var(--wcti--font-weight--label);
		line-height: calc( 2em - 2px );
		text-align: center;
		text-decoration: none;
		border: 1px solid;
		border-radius: var(--wcti--border--radius);

		&:hover,
		&:focus {
			text-decoration: none;
		}
	}

	.product-thumbnail {

		img {
			width: 5em;
			border-radius: var(--wcti--border--radius);
		}
	}

	.product-name,
	.product-total {
		font-family: var(--wcti--font-family--headings);
		font-weight: var(--wcti--font-weight--headings);
	}

	.qty {
		width: 5em;
	}

	.actions {
		padding: 1em 0;
		color: var(--wcti--color--content-h);
		border-top-width: 4px;
		border-top-style: double;
		overflow: hidden;

		.has-text-color & {
			color: inherit;
		}

		[type="submit"] {
			float: $right;
		}
	}

	ul,
	ol {
		padding: 0;

		&:not(:first-child) {
			margin-top: $ratio_maj + em;
		}
	}

	.button {
		padding: $ratio_maj + rem;
	}
}
