/* FILE: woocommerce/others/_star-rating.scss */

.star-rating,
.wc-block-components-product-rating__stars {
	@extend %star_rating;
}

// In product summary.
.summary-content .woocommerce-product-rating,
.wc-block-components-product-rating__container {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 1rem;
	font-size: 1.25em;

	.woocommerce-review-link {
		font-size: var(--wcti--font-size--xs);
		opacity: 0;
		transition: opacity .3s;
	}

	&:hover .woocommerce-review-link,
	.woocommerce-review-link:active,
	.woocommerce-review-link:focus,
	.woocommerce-review-link:hover {
		opacity: 1;
	}
}

	.summary-content .woocommerce-product-rating {
		margin: ( -$ratio + rem ) 0 ( $ratio + rem );
	}

// In review form.
p.stars {
	float: inline-end;
	display: inline-block;
	margin: 0;
	line-height: 1;
	font-size: 1.5em;
	color: var(--wcti--color--accent);

	> span {
		overflow: hidden;
	}

	a {
		float: inline-start;
		position: relative;
		display: block;
		width: 1em;
		height: 1em;
		font-weight: 400;
		text-decoration: none;
		text-align: start;
		text-indent: -999em;

		&::before {
			content: '\2606'; // WHITE STAR
			position: absolute;
			width: 100%;
			inline-start: 0;
			top: 0;
			line-height: 1;
			text-align: center;
			text-indent: 0;
		}

		&:hover ~ a::before {
			content: '\2606'; // WHITE STAR
		}
	}

	&:hover a::before {
		content: '\2605'; // BLACK STAR
	}

	&.selected {

		a.active {

			&::before {
				content: '\2605'; // BLACK STAR
			}

			~ a::before {
				content: '\2606'; // WHITE STAR
			}
		}

		a:not(.active)::before {
			content: '\2605'; // BLACK STAR
		}
	}
}
