/* FILE: woocommerce/others/_sticky-add-to-cart.scss */

.sticky-add-to-cart {
	display: none;

	@include media( map_get( $breakpoint, 'xl' ) ) {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		position: fixed;
		width: 100%;
		#{$left}: 0;
		top: 0;
		padding: 1em 6vw;
		background: var(--color_button_background);
		color: var(--color_button_text);
		box-shadow: 0 1em 2em rgba( #000, .15 );
		transform: translateY(-150%);
		transition: transform .3s;
		z-index: 1000;

		.admin-bar & {
			top: 32px;
		}

		&-show {
			transform: translateY(0);
		}

		&-info {
			margin-#{$right}: 6%;
		}

		&-title {
			display: inline-block;
			margin: 0;
			margin-#{$right}: 1em;
			font-size: 1em;
			font-weight: 400;
			text-transform: uppercase;
			color: inherit;
		}

		img {
			width: auto;
			margin-#{$right}: 1em;
			height: 2.5em;
		}

		a:not(.button) {
			color: inherit;
		}

		.button {
			padding: .5em 1em;
			border: 1px solid;
			color: inherit;

			&,
			&:hover,
			&:focus,
			&:active {
				background: none;
			}

		}

	}

}
