/* FILE: woocommerce/others/_tabs.scss */

.wc-tabs {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-inline: 0;
	margin: var(--wcti--spacing--white) 0 0;
	font-weight: 700;
	list-style: none;
	border-bottom-width: .1rem;
	border-bottom-style: solid;

	.tabs-count-1 & {
		display: none;
	}

	a {
		display: block;
		padding: 1em 2em;
		margin-bottom: -.1rem;
		font-size: .8em;
		text-transform: uppercase;
		text-decoration: none;
		text-align: center;
		letter-spacing: var(--wcti--spacing--letters);
		color: var(--wcti--color--content-h);
		border-bottom: .2rem solid transparent;
		transition: border .3s;

		&:hover,
		&:active,
		&:focus {
			border-color: currentColor;
		}
	}

	.active {
		font-weight: 400;

		a {
			border-color: currentColor;
		}
	}
}

.woocommerce-Tabs-panel {
	max-width: var(--wcti--width--tab-panel);
	margin: 3em auto;
	margin-bottom: var(--wcti--spacing--padding--content);

	> h2:first-child {

		.woocommerce-tabs:not(.tabs-count-1) & {
			@extend %screen_reader_hiding;
		}
	}

	.woocommerce-tabs:last-child & {
		margin-bottom: 0;
	}
}
