/* FILE: woocommerce/form/_button.scss */

.woocommerce {

	.button.alt {
		display: block;
		width: 100%;
		padding: 1.5em;
		margin-top: 2em;
	}

}

.products .product .button.product_type_external {
	white-space: normal;
}
