/* FILE: woocommerce/form/_button.scss */

#{$selector_wc} {

	.button {
		text-align: center;
	}

	.button.alt {
		display: block;
		width: 100%;
		padding-left: 12%;
		padding-right: 12%;
		margin-top: 2em;
	}
}

.products .product .button.product_type_external {
	white-space: normal;
}
