/* FILE: woocommerce/form/_coupon.scss */

.woocommerce-form-coupon {

	.button {
		width: 100%;
	}

	&-toggle {

		form + & {
			margin-top: $ratio + em;
		}
	}
}

.coupon {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: .5rem;

	.shop_table & {
		margin-bottom: 1em;

		@include media( map.get( $breakpoint, 'l' ) ) {
			float: inline-start;
			margin-bottom: 0;
		}

		label {
			@extend %screen_reader_hiding;
		}

		.input-text {
			width: 100%;

			@include media( map.get( $breakpoint, 'm' ) ) {
				width: auto;
			}
		}

		.button[type="submit"] {
			float: none;
			width: 100%;

			@include media( map.get( $breakpoint, 'm' ) ) {
				float: inline-end;
				width: auto;
				margin-inline-start: .25em;
			}
		}

		&-description {
			width: 100%;
			font-size: var(--wcti--font-size--xs);
		}
	}
}

.woocommerce-remove-coupon {
	margin-inline-start: .5em;
	font-size: var(--wcti--font-size--xs);
	font-weight: 400;
	text-transform: uppercase;
}
