/* FILE: woocommerce/form/_login.scss */

.woocommerce-form-login {

	.form-row {
		@extend %clearfix;
	}

	.button {
		float: inline-end;
	}

	br,
	.clear {
		display: none;
	}
}

.customer-login {
	max-width: var(--wcti--width--wide);
	margin-left: auto;
	margin-right: auto;

	&:not(.customer-registration) {
		max-width: var(--wcti--width--content);
	}

	&:not(.customer-registration),
	.col-1,
	.col-2 {
		@extend %shaded_background;
		position: relative;
		padding: 2em;
		border-radius: var(--wcti--border--radius);
	}

	.col-2 {
		margin-top: 2em;
	}

	@include media( map.get( $breakpoint, 'l' ) ) {

		.col2-set {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}

		.col-1,
		.col-2 {
			width: calc( 50% - var(--wcti--width--col-gap--login-register) );
		}

		.col-2 {
			margin-top: 0;
		}
	}
}

.woocommerce {

	.password-input {
		position: relative;
	}

	.show-password-input {
		@extend %icon_background;
		position: absolute;
		inset-inline-end: .5em;
		inset-block-start: 50%;
		padding: 0 !important;
		margin: 0 !important;
		background: transparent !important;
		color: inherit !important;
		border: 0 !important;
		border-radius: 0 !important;
		box-shadow: none !important;
		transform: translateY(-50%) !important;
		transition: none !important;
	}

	:where( & .show-password-input ) {
		--wcti-icon-size: 1.5em;
		// https://icon-sets.iconify.design/line-md/watch-loop/
		--wcti-icon: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMjgiIGhlaWdodD0iMTI4IiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxjaXJjbGUgY3g9IjEyIiBjeT0iMTIiIHI9IjAiIGZpbGw9ImN1cnJlbnRDb2xvciI+PGFuaW1hdGUgYXR0cmlidXRlTmFtZT0iciIgZHVyPSI2cyIga2V5VGltZXM9IjA7MC4wMzswLjk3OzEiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiB2YWx1ZXM9IjA7MzszOzAiLz48L2NpcmNsZT48cGF0aCBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjIiIGQ9Ik00IDEyYzEuMzggLTAuNzcgNC40MiAtMS4zIDggLTEuM2MzLjU4IDAgNi42MiAwLjUzIDggMS4zYy0xLjM4IDAuNzcgLTQuNDIgMS4zIC04IDEuM2MtMy41OCAwIC02LjYyIC0wLjUzIC04IC0xLjNaIj48YW5pbWF0ZSBhdHRyaWJ1dGVOYW1lPSJkIiBkdXI9IjZzIiBrZXlUaW1lcz0iMDswLjAzOzAuOTc7MSIgcmVwZWF0Q291bnQ9ImluZGVmaW5pdGUiIHZhbHVlcz0iTTQgMTJjMS4zOCAtMC43NyA0LjQyIC0xLjMgOCAtMS4zYzMuNTggMCA2LjYyIDAuNTMgOCAxLjNjLTEuMzggMC43NyAtNC40MiAxLjMgLTggMS4zYy0zLjU4IDAgLTYuNjIgLTAuNTMgLTggLTEuM1o7TTIgMTJjMS43MiAtMy44MyA1LjUzIC02LjUgMTAgLTYuNWM0LjQ3IDAgOC4yOCAyLjY3IDEwIDYuNWMtMS43MiAzLjgzIC01LjUzIDYuNSAtMTAgNi41Yy00LjQ3IDAgLTguMjggLTIuNjcgLTEwIC02LjVaO00yIDEyYzEuNzIgLTMuODMgNS41MyAtNi41IDEwIC02LjVjNC40NyAwIDguMjggMi42NyAxMCA2LjVjLTEuNzIgMy44MyAtNS41MyA2LjUgLTEwIDYuNWMtNC40NyAwIC04LjI4IC0yLjY3IC0xMCAtNi41WjtNNCAxMmMxLjM4IC0wLjc3IDQuNDIgLTEuMyA4IC0xLjNjMy41OCAwIDYuNjIgMC41MyA4IDEuM2MtMS4zOCAwLjc3IC00LjQyIDEuMyAtOCAxLjNjLTMuNTggMCAtNi42MiAtMC41MyAtOCAtMS4zWiIvPjwvcGF0aD48L3N2Zz4=");
	}

	:where( & .display-password ) {
		// https://icon-sets.iconify.design/line-md/watch-off-loop/
		--wcti-icon: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMjgiIGhlaWdodD0iMTI4IiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxtYXNrIGlkPSJTVkdvc3YwemVvdCI+PGcgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjZmZmIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiI+PGNpcmNsZSBjeD0iMTIiIGN5PSIxMiIgcj0iMCIgZmlsbD0iI2ZmZiIgc3Ryb2tlPSJub25lIj48YW5pbWF0ZSBhdHRyaWJ1dGVOYW1lPSJyIiBkdXI9IjZzIiBrZXlUaW1lcz0iMDswLjAzOzAuOTc7MSIgcmVwZWF0Q291bnQ9ImluZGVmaW5pdGUiIHZhbHVlcz0iMDszOzM7MCIvPjwvY2lyY2xlPjxwYXRoIGQ9Ik00IDEyYzEuMzggLTAuNzcgNC40MiAtMS4zIDggLTEuM2MzLjU4IDAgNi42MiAwLjUzIDggMS4zYy0xLjM4IDAuNzcgLTQuNDIgMS4zIC04IDEuM2MtMy41OCAwIC02LjYyIC0wLjUzIC04IC0xLjNaIj48YW5pbWF0ZSBhdHRyaWJ1dGVOYW1lPSJkIiBkdXI9IjZzIiBrZXlUaW1lcz0iMDswLjAzOzAuOTc7MSIgcmVwZWF0Q291bnQ9ImluZGVmaW5pdGUiIHZhbHVlcz0iTTQgMTJjMS4zOCAtMC43NyA0LjQyIC0xLjMgOCAtMS4zYzMuNTggMCA2LjYyIDAuNTMgOCAxLjNjLTEuMzggMC43NyAtNC40MiAxLjMgLTggMS4zYy0zLjU4IDAgLTYuNjIgLTAuNTMgLTggLTEuM1o7TTIgMTJjMS43MiAtMy44MyA1LjUzIC02LjUgMTAgLTYuNWM0LjQ3IDAgOC4yOCAyLjY3IDEwIDYuNWMtMS43MiAzLjgzIC01LjUzIDYuNSAtMTAgNi41Yy00LjQ3IDAgLTguMjggLTIuNjcgLTEwIC02LjVaO00yIDEyYzEuNzIgLTMuODMgNS41MyAtNi41IDEwIC02LjVjNC40NyAwIDguMjggMi42NyAxMCA2LjVjLTEuNzIgMy44MyAtNS41MyA2LjUgLTEwIDYuNWMtNC40NyAwIC04LjI4IC0yLjY3IC0xMCAtNi41WjtNNCAxMmMxLjM4IC0wLjc3IDQuNDIgLTEuMyA4IC0xLjNjMy41OCAwIDYuNjIgMC41MyA4IDEuM2MtMS4zOCAwLjc3IC00LjQyIDEuMyAtOCAxLjNjLTMuNTggMCAtNi42MiAtMC41MyAtOCAtMS4zWiIvPjwvcGF0aD48cGF0aCBzdHJva2U9IiMwMDAiIHN0cm9rZS1kYXNoYXJyYXk9IjI4IiBzdHJva2UtZGFzaG9mZnNldD0iMjgiIGQ9Ik0wIDExaDI0IiB0cmFuc2Zvcm09InJvdGF0ZSg0NSAxMiAxMikiPjxhbmltYXRlIGZpbGw9ImZyZWV6ZSIgYXR0cmlidXRlTmFtZT0ic3Ryb2tlLWRhc2hvZmZzZXQiIGJlZ2luPSIwLjVzIiBkdXI9IjAuNHMiIHZhbHVlcz0iMjg7MCIvPjwvcGF0aD48cGF0aCBzdHJva2UtZGFzaGFycmF5PSIyOCIgc3Ryb2tlLWRhc2hvZmZzZXQ9IjI4IiBkPSJNLTEgMTNoMjQiIHRyYW5zZm9ybT0icm90YXRlKDQ1IDEyIDEyKSI+PGFuaW1hdGUgYXR0cmlidXRlTmFtZT0iZCIgZHVyPSI2cyIgcmVwZWF0Q291bnQ9ImluZGVmaW5pdGUiIHZhbHVlcz0iTS0xIDEzaDI0O00xIDEzaDI0O00tMSAxM2gyNCIvPjxhbmltYXRlIGZpbGw9ImZyZWV6ZSIgYXR0cmlidXRlTmFtZT0ic3Ryb2tlLWRhc2hvZmZzZXQiIGJlZ2luPSIwLjVzIiBkdXI9IjAuNHMiIHZhbHVlcz0iMjg7MCIvPjwvcGF0aD48L2c+PC9tYXNrPjxyZWN0IHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0iY3VycmVudENvbG9yIiBtYXNrPSJ1cmwoI1NWR29zdjB6ZW90KSIvPjwvc3ZnPg==");
	}
}
