/* FILE: woocommerce/form/_password-reset.scss */

.woocommerce-ResetPassword {
	max-width: var(--wcti--width--content);
	margin-left: auto;
	margin-right: auto;

	.form-row {

		&.form-row-first,
		&.form-row-last {
			clear: both;
			float: none;
			width: 100%;
		}
	}
}
