/* FILE: woocommerce/form/_quantity.scss */

.woocommerce-ResetPassword {
	max-width: var(--layout_width_entry_content);
	margin-left: auto;
	margin-right: auto;

	.form-row {

		&.form-row-first,
		&.form-row-last {
			clear: both;
			float: none;
			width: 100%;
		}

	}

}
