/* FILE: woocommerce/single/_breadcrumbs.scss */

.summary-content .woocommerce-breadcrumb,
.wc-block-breadcrumbs {
	margin-bottom: 1rem;
	font-size: var(--wcti--font-size--xs);
}

.summary-content .woocommerce-breadcrumb,
.wc-block-breadcrumbs .woocommerce-breadcrumb {
	width: 100%;
	text-transform: uppercase;

	&-item:last-child {
		display: none;
	}

	&-delimiter {
		margin: 0 .25em;
	}

	a {
		text-decoration: none;
		color: inherit;
	}
}
