/* FILE: woocommerce/single/_breadcrumbs.scss */

.summary-content .woocommerce-breadcrumb {
	width: 100%;
	margin-bottom: 1rem;
	font-size: var(--wcti--font-size--xs);
	text-transform: uppercase;

	&-item:last-child {
		display: none;
	}

	&-delimiter {
		margin: 0 .25em;
	}

	a {
		text-decoration: none;
		color: inherit;
	}
}
