/* FILE: woocommerce/single/_gallery.scss */

.woocommerce-product-gallery {
	position: relative;
	max-width: 100%;

	@include media( map_get( $breakpoint, 'm' ) ) {
		width: calc( var(--wcti--width--col--product-gallery) - var(--wcti--width--col-gap--product) );
	}

	img {
		width: 100%;
	}

	&__image {
		border-radius: var(--wcti--border--radius);
		overflow: hidden;
	}

		.onsale + & &__image {
			border-top-left-radius: 0;
		}

	&__trigger {
		position: absolute;
		#{$right}: 0;
		bottom: 100%;
		width: 2em;
		height: 2em;
		text-align: $left;
		text-indent: -999em;
		overflow: hidden;
		z-index: 1;

		&::before,
		&::after {
			content: '';
			position: absolute;
			width: 2em;
			height: .15rem;
			#{$left}: 0;
			top: 50%;
			margin: math.div( -.15rem, 2 );
			background: currentColor;
		}

		&::after {
			transform: rotate( 90deg );
		}
	}
}

.flex-control-thumbs {
	--wcti--gallery-gap: clamp( .15rem, var(--wcti--border--radius), .5rem );

	display: flex;
	justify-content: center;
	gap: var(--wcti--gallery-gap);
	padding: var(--wcti--gallery-gap) 0 0;
	margin: 0;
	list-style: none;

	li {
		width: 25%;
	}

	img {
		aspect-ratio: 1;
		object-fit: cover;
		border-radius: var(--wcti--border--radius);
	}
}
