/* FILE: woocommerce/single/_layout.scss */

// Page templates:
.single-product {

	&.has-content-layout-no-padding {

		.site-content {
			padding-left: var(--wcti--spacing--padding--body);
			padding-right: var(--wcti--spacing--padding--body);
		}

		.content-area {
			padding-bottom: var(--wcti--spacing--padding--content);
		}

		.woocommerce-Tabs-panel--description {
			max-width: none;
		}
	}

	&.has-content-layout-full-width {

		.content-area {
			max-width: var(--wcti--width--wide);
		}

		.site-main {
			max-width: none;
		}

		.woocommerce-Tabs-panel--description {
			width: calc( 100vw - var(--wcti--width--scrollbar) );
			max-width: calc( 100vw - var(--wcti--width--scrollbar) );
			margin-inline-start: calc( 50% - 50vw + ( var(--wcti--width--scrollbar) / 2 ) );

			> h2 {
				max-width: var(--wcti--width--wide);
				margin-left: auto;
				margin-right: auto;
			}
		}
	}
}
