/* FILE: woocommerce/single/_layout.scss */

// Page templates:
.single-product {

	&.has-content-layout-no-padding {

		.site-content {
			padding-left: 6vw;
			padding-right: 6vw;
		}

		.content-area {
			padding-bottom: var(--content_padding);
		}

		.woocommerce-Tabs-panel--description {
			max-width: none;
		}

	}

	&.has-content-layout-full-width {

		.content-area {
			max-width: var(--layout_width_content);
		}

		.site-main {
			max-width: none;
		}

		.woocommerce-Tabs-panel--description {
			width: calc( 100vw - var(--scrollbar_width) );
			max-width: calc( 100vw - var(--scrollbar_width) );
			margin-#{$left}: calc( 50% - 50vw + ( var(--scrollbar_width) / 2 ) );

			> h2 {
				max-width: var(--layout_width_content);
				margin-left: auto;
				margin-right: auto;
			}

		}

	}

}
