/* FILE: woocommerce/single/_meta.scss */

.product_meta,
.wp-block-woocommerce-product-meta {
	margin-top: 2rem;
}

.product_meta {

	> span {
		display: block;
		font-weight: var(--wcti--font-weight--label);

		&::before {
			content: '\2014'; // &mdash;
			margin-#{$right}: .25em;
			font-weight: 400;
			speak: none;
		}

		span,
		a {
			font-weight: 400;
		}
	}
}
