/* FILE: woocommerce/single/_meta.scss */

.product_meta,
.wp-block-woocommerce-product-meta {
	margin-top: 2rem;
}

.product_meta,
// Making it work with block layout too.
.product_meta ~ .wp-block-post-terms {

	> span {
		display: inline-block;
		margin-inline-end: .5em;
		font-weight: var(--wcti--font-weight--label);

		&::before {
			content: '\2014'; // &mdash;
			margin-inline-end: .25em;
			font-weight: 400;
			speak: none;
		}

		span,
		a {
			font-weight: 400;
		}
	}
}
