/* FILE: woocommerce/single/_meta.scss */

.product_meta {
	margin-top: 2rem;

	> span {
		display: block;
		font-weight: 700;

		&::before {
			content: '\2014'; // &mdash;
			margin-#{$right}: .25em;
			font-weight: 400;
			speak: none;
		}

		span,
		a {
			font-weight: 400;
		}
	}
}
