/* FILE: woocommerce/single/_products.scss */

.upsells,
.related {

	h2 {
		margin-bottom: 2rem;
		font-size: var(--wcti--font-size--heading--related-products);
	}

	+ .products {
		margin-top: var(--wcti--spacing--white);
	}
}
