/* FILE: woocommerce/single/_summary.scss */

.summary {
	margin-top: 2em;

	@include media( map_get( $breakpoint, 'm' ) ) {
		width: calc( 50% - 3em );
		margin-top: 0;
	}

	.has-sticky-product-summary & {
		@include media(
			( map_get( $breakpoint, 'xl' ), 'min-width' ),
			( map_get( $breakpoint, 's' ), 'min-height' )
		) {
			position: sticky;
			top: -2em;
		}
	}

	&-section {
		position: relative;
		margin-bottom: var(--white_space);

		.quantity {
			display: inline-block;
			vertical-align: top;

			&:not(.hidden) {
				margin-#{$right}: .25em;
			}

			+ .single_add_to_cart_button {
				display: inline-block;
				width: auto;
				padding: ( $form_field_padding_vertical / $button_font_size ) 12%;
				margin: 0;
				vertical-align: top;
			}

		}

	}

	&-content {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: space-between;
		width: 100%;
		max-width: var(--layout_width_content);
		margin: 0 auto;

		.woocommerce-notices-wrapper {
			width: 100%;
		}

	}

}

.woocommerce-product-details__short-description {
	margin-bottom: 2em;

	p:not(:last-child) {
		margin-bottom: 1em;
	}

}

.product-description-link {
	font-weight: 700;
}

.product-rating-sale-container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: 1em;

	&:empty {
		display: none;
	}

}
