/* FILE: woocommerce/single/_summary.scss */

.summary {
	margin-top: 2em;

	@include media( map_get( $breakpoint, 'm' ) ) {
		width: calc( var(--wcti--width--product-summary) - 1em );
		margin-top: 0;
	}

	&-section {
		position: relative;
		margin-bottom: var(--wcti--spacing--white);

		.quantity {
			display: inline-block;
			vertical-align: top;

			+ .single_add_to_cart_button {
				display: inline-block;
				width: auto;
				margin: 0;
				vertical-align: top;
			}

			.qty:not([type="hidden"]) {
				margin-#{$right}: .5em;
			}
		}
	}

	&-content {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: space-between;
		width: 100%;
		max-width: var(--wcti--width--wide);
		margin: 0 auto;

		.woocommerce-notices-wrapper {
			width: 100%;
		}
	}

	.product_title {
		margin: 0 0 2rem;
		font-size: var(--wcti--font-size--heading--product-title);
	}

	// Add to cart form.
	.cart:not(.variations_form):not(.grouped_form),
	.variations_button {
		display: flex;
		align-items: center;
	}
}

.woocommerce-product-details__short-description {
	margin-top: 2em;
	margin-bottom: 2em;

	p:not(:last-child) {
		margin-bottom: 1em;
	}
}

.product-description-link {
	font-weight: 700;
}
