/* FILE: woocommerce/single/_additional-information.scss */

.woocommerce-product-attributes {
	text-align: center;

	&,
	td,
	th,
	tr,
	tbody {
		display: block;
	}

	&,
	td,
	th {
		padding: 0;
		border-width: 0;
	}

	tr {

		&:not(:first-child) {
			margin-top: 2em;
		}

	}

	th {
		margin-bottom: .5rem;
		font-size: .8em;
		text-align: inherit;
		text-transform: uppercase;
		letter-spacing: var(--letter_spacing);
		color: var(--color_content_headings);
	}

}
