/* FILE: woocommerce/single/_tab-additional-information.scss */

.woocommerce-product-attributes {
	border-width: 0;

	tr:not(:last-child) {
		border-bottom-width: var(--wcti--border--width--item-separator);
		border-bottom-style: solid;
	}

	th,
	td {
		border-width: 0;
	}
}
