/* FILE: woocommerce/single/_tab-reviews.scss */

.woocommerce-Reviews {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	> div {

		&:not(:first-child) {
			margin-top: 2rem;
		}

		@include media( map_get( $breakpoint, 'l' ) ) {
			width: calc( var(--wcti--width--col--review-1) - var(--wcti--width--col-gap--review) );

			&:not(:first-child) {
				width: calc( var(--wcti--width--col--review-2) - var(--wcti--width--col-gap--review) );
				margin-top: 0;
			}
		}
	}

	.clear {
		display: none;
	}

	&-title,
	.comment-reply-title {
		margin-bottom: 2rem;

		span {
			font-weight: var(--wcti--font-weight--headings-span);
			font-style: italic;
		}
	}

	.avatar {
		float: $left;
		width: 2.5em;
		margin-bottom: .5em;
		margin-#{$right}: 1em;
		border-radius: 2.5em;
	}

	.star-rating {
		margin-bottom: 0;
	}

	.meta {
		margin-top: 0;
		margin-bottom: .5em;
		font-size: var(--wcti--font-size--xs);
	}

	.comment, // This is for backwards compatibility.
	.review {
		@extend %shaded_background;
		position: relative;
		padding: 2rem;
		border-radius: var(--wcti--border--radius);

		&:not(:first-child) {
			margin-top: 2em;
		}
	}

	.comment {

		&list {
			max-height: 18em;
			max-height: max( 640px, 62vh );
			padding: 0 0 1em;
			padding-#{$right}: 1em;
			margin-#{$left}: 0;
			list-style: none;
			overflow-y: auto;
		}

		&-respond {
			padding-top: 0;
			border-top-width: 0;
		}

		&-reply-title {
			display: block;
			margin-bottom: 2rem;
			font-family: var(--wcti--font-family--headings);
			color: var(--wcti--color--content-h);
		}

		&-notes {
			font-size: var(--wcti--font-size--s);
			margin-bottom: 1em;
		}

		&-form {
			margin: 0;

			label {
				display: block;
				margin: 0 0 .5em;
			}

				[type="checkbox"],
				[type="radio"] {

					+ label {
						display: inline;
					}
				}

			textarea,
			[type="text"],
			[type="email"] {
				width: 100%;
			}

			textarea:invalid {
				max-height: 3 * $ratio + 2 * .25em; // 3x line height + vertical textarea padding.
				overflow-y: hidden;
			}

			&-rating {
				margin-bottom: $ratio + em;
				overflow: hidden;

				label:first-child {
					float: $left;
					padding: 0;
					margin: 0;
					margin-#{$right}: 1em;
				}

				.stars {
					margin: 0;
				}
			}
		}
	}

	.description {
		margin-top: 1rem;
	}
}
