/* FILE: woocommerce/page/_cart.scss */

.cart-collaterals {
	margin-top: 2em;

	@include media( map_get( $breakpoint, 'l' ) ) {

		&::after {
			content: '';
			clear: both;
			display: table;
			table-layout: fixed;
		}

		.cross-sells {
			float: $left;
			width: calc( var(--wcti--width--col--cart-cross-sells) - var(--wcti--width--col-gap--cart) );
		}

		.cart_totals {
			float: $right;
			width: calc( var(--wcti--width--col--cart-totals) - var(--wcti--width--col-gap--cart) );

			&:only-child {
				float: none;
				width: 100%;
			}

			> * {
				max-width: var(--wcti--width--cart-totals);
				margin-left: auto;
				margin-right: auto;
			}
		}
	}
}

.cross-sells {
	margin-bottom: calc( var(--wcti--spacing--white) / 2 );

	@include media( map_get( $breakpoint, 'l' ) ) {
		margin-bottom: 0;

		h2 {
			margin-top: 2rem;
			margin-bottom: 2rem;
		}
	}

	ul.products {
		margin-bottom: 0;
	}
}

.cart_totals {
	@extend %shaded_background;
	position: relative;
	padding: 2em 1em;
	border-radius: var(--wcti--border--radius);

	@include media( map_get( $breakpoint, 'm' ) ) {
		padding-left: 2em;
		padding-right: 2em;
	}

	.shop_table {
		margin-bottom: 2em;
	}

	.continue-shopping {
		display: block;
		margin-top: 1em;
		text-align: center;

		&::before {
			content: '\21A9\00a0'; // leftwards arrow with hook + &nbsp;
		}
	}
}

.order-total {

	td {
		line-height: 1;
		font-size: 1.25em;
	}

	small {
		display: block;
		margin-top: .5em;
		font-size: .8em;
		font-weight: 400;
	}
}

.shipping {

	td {

		> p {
			clear: both;
		}
	}

	.shipping-calculator {
		padding: 0;

		&-form {
			margin-top: 1em;
		}

		&-button {
			display: block;
			padding: .8em 1em;
			font-size: .8em;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: var(--wcti--spacing--letters);
			text-align: center;
			text-decoration: none;
			color: inherit;
		}
	}

	ul {
		clear: both;
		margin: 0;
		list-style: none;
	}

	li {
		padding: .25em 0;

		label {
			padding: 0;
			margin-#{$left}: .25em;
		}

		[type="hidden"] + label {
			margin-#{$left}: 0;
		}
	}
}

.woocommerce-shipping-calculator {
	padding: 1em 0;
	margin: 0;

	@include media( map_get( $breakpoint, 'm' ) ) {
		padding-left: 1em;
		padding-right: 1em;
	}

	p {
		margin-bottom: 1em;

		&:last-child {
			margin-bottom: 0;
		}

		.button {
			width: 100%;
		}
	}

	> p {
		margin: 0;
	}

	select,
	input[type="text"] {
		width: 100%;
	}
}

.cart-empty {

	&-container {
		max-width: var(--wcti--width--content);
		margin-left: auto;
		margin-right: auto;
		text-align: center;

		.woocommerce-info {
			display: block;

			&:last-child {
				margin-bottom: 1em;
			}
		}

		.wc-block-components-notice-banner {
			justify-content: center;
		}

		.wc-block-components-notice-banner__content {
			flex-basis: auto;
		}
	}
}

.return-to-shop {
	margin-top: 1em;

	.button {

		&::before {
			content: '\21A9\00a0'; // leftwards arrow with hook + &nbsp;
		}

		// Needed for WC8.
		br {
			display: none;
		}
	}
}
