/* FILE: woocommerce/page/_checkout.scss */

.woocommerce .woocommerce-checkout {

	@include media( map_get( $breakpoint, 'l' ) ) {

		&::after {
			content: '';
			clear: both;
			display: table;
			table-layout: fixed;
		}

		> * {
			float: $right;
			clear: right;
			width: calc( var(--wcti--width--col--checkout-2) - var(--wcti--width--col-gap--checkout) );
		}

		> .col2-set {
			float: $left;
			width: calc( var(--wcti--width--col--checkout-1) - var(--wcti--width--col-gap--checkout) );
		}

		> h3 {
			margin-top: 2rem;
			margin-bottom: 2rem;
		}
	}

	&:not(:first-child) {
		margin-top: calc( var(--wcti--spacing--white) / 2 );
	}

	> .col2-set {
		padding: 2em 1em;
		border-width: 2px;
		border-style: dashed;
		border-radius: var(--wcti--border--radius);

		@include media( map_get( $breakpoint, 'm' ) ) {
			padding-left: 2em;
			padding-right: 2em;
		}
	}
}

.woocommerce-shipping-fields {
	margin-top: 2em;
	margin-bottom: 2em;

	.woocommerce .woocommerce-checkout & h3 {
		margin-bottom: 1em;
		font-family: inherit;
		font-size: 1em;
		font-weight: 400;
		text-transform: none;
		letter-spacing: 0;
		color: inherit;
	}
}

.woocommerce-account-fields {
	margin-top: 1em;
}

.woocommerce-additional-fields .notes.form-row {
	margin: 0;
}

.woocommerce-checkout-review-order {
	@extend %shaded_background;
	position: relative;
	padding: 2em 1em;
	border-radius: var(--wcti--border--radius);

	@include media( map_get( $breakpoint, 'm' ) ) {
		padding-left: 2em;
		padding-right: 2em;
	}

	.order-total {
		border-top-width: 6px;
		border-top-style: double;
		color: var(--wcti--color--content-h);

		.has-text-color & {
			color: inherit;
		}
	}

	&-table {
		margin-bottom: 2em;
	}
}

.woocommerce-privacy-policy-text {
	margin-bottom: 1em;
}

.woocommerce-terms-and-conditions {
	padding: 1em;
	margin-bottom: 1em;
	border-width: 1px;
	border-style: dashed;
}

.woocommerce-checkout {

	.woocommerce-form-coupon-toggle,
	.woocommerce-form-coupon,
	.woocommerce-form-login-toggle,
	.woocommerce-form-login,
	.woocommerce-notices-wrapper {
		max-width: var(--wcti--width--checkout-coupon);
		margin-left: auto;
		margin-right: auto;
	}

	.woocommerce-form-login-toggle,
	.woocommerce-form-login {
		max-width: var(--wcti--width--checkout-login);
	}

	.woocommerce-notices-wrapper {
		max-width: var(--wcti--width--checkout-notice);
	}
}

.woocommerce .checkout-button.alt,
.woocommerce-checkout .button.alt {
	display: block;
	width: 100%;
	margin-top: 2em;
}
