/* FILE: woocommerce/page/_checkout-order-received.scss */

.woocommerce-order {
	max-width: var(--wcti--width--order);
	margin-left: auto;
	margin-right: auto;

	.woocommerce > & {
		margin-block-start: var(--wcti--spacing--margin--order-confirmation);
	}

	section {
		margin-top: 2em;
	}
}

.woocommerce-order-details,
.woocommerce-order-downloads,
.woocommerce-customer-details {
	margin-top: calc( var(--wcti--spacing--white) / 2 );
}

	.woocommerce-customer-details {

		&--email,
		&--phone {
			@extend %icon_background;

			&::before {
				margin-inline-end: .5em;
			}
		}

		:where( &--email ) {
			// https://icon-sets.iconify.design/line-md/email/
			--wcti-icon: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxnIGZpbGw9Im5vbmUiIHN0cm9rZT0iY3VycmVudENvbG9yIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiI+PHBhdGggc3Ryb2tlLWRhc2hhcnJheT0iNjQiIHN0cm9rZS1kYXNob2Zmc2V0PSI2NCIgZD0iTTQgNWgxNmMwLjU1IDAgMSAwLjQ1IDEgMXYxMmMwIDAuNTUgLTAuNDUgMSAtMSAxaC0xNmMtMC41NSAwIC0xIC0wLjQ1IC0xIC0xdi0xMmMwIC0wLjU1IDAuNDUgLTEgMSAtMVoiPjxhbmltYXRlIGZpbGw9ImZyZWV6ZSIgYXR0cmlidXRlTmFtZT0ic3Ryb2tlLWRhc2hvZmZzZXQiIGR1cj0iMC42cyIgdmFsdWVzPSI2NDswIi8+PC9wYXRoPjxwYXRoIHN0cm9rZS1kYXNoYXJyYXk9IjI0IiBzdHJva2UtZGFzaG9mZnNldD0iMjQiIGQ9Ik0zIDYuNWw5IDUuNWw5IC01LjUiPjxhbmltYXRlIGZpbGw9ImZyZWV6ZSIgYXR0cmlidXRlTmFtZT0ic3Ryb2tlLWRhc2hvZmZzZXQiIGJlZ2luPSIwLjZzIiBkdXI9IjAuMnMiIHZhbHVlcz0iMjQ7MCIvPjwvcGF0aD48L2c+PC9zdmc+");
		}

		:where( &--phone ) {
			// https://icon-sets.iconify.design/line-md/phone/
			--wcti-icon: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGZpbGw9Im5vbmUiIHN0cm9rZT0iY3VycmVudENvbG9yIiBzdHJva2UtZGFzaGFycmF5PSI2NCIgc3Ryb2tlLWRhc2hvZmZzZXQ9IjY0IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiIgZD0iTTggM2MwLjUgMCAyLjUgNC41IDIuNSA1YzAgMSAtMS41IDIgLTIgM2MtMC41IDEgMC41IDIgMS41IDNjMC4zOSAwLjM5IDIgMiAzIDEuNWMxIC0wLjUgMiAtMiAzIC0yYzAuNSAwIDUgMiA1IDIuNWMwIDIgLTEuNSAzLjUgLTMgNGMtMS41IDAuNSAtMi41IDAuNSAtNC41IDBjLTIgLTAuNSAtMy41IC0xIC02IC0zLjVjLTIuNSAtMi41IC0zIC00IC0zLjUgLTZjLTAuNSAtMiAtMC41IC0zIDAgLTQuNWMwLjUgLTEuNSAyIC0zIDQgLTNaIj48YW5pbWF0ZSBmaWxsPSJmcmVlemUiIGF0dHJpYnV0ZU5hbWU9InN0cm9rZS1kYXNob2Zmc2V0IiBkdXI9IjAuNnMiIHZhbHVlcz0iNjQ7MCIvPjwvcGF0aD48L3N2Zz4=");
		}
	}

.woocommerce-order-details {
	@extend %shaded_background;
	position: relative;
	padding: 2em 1em;
	border-radius: var(--wcti--border--radius);

	@include media( map_get( $breakpoint, 'm' ) ) {
		padding-left: 2em;
		padding-right: 2em;
	}
}

#{$selector_wc} {

	mark {
		padding: 0;
		margin: 0;
		font-weight: var(--wcti--font-weight--label);
		background: none;
	}

	.addresses {

		div + div {
			margin-top: 2em;
		}
	}
}

.woocommerce-columns--addresses {

	@include media( map_get( $breakpoint, 'l' ) ) {

		&.col2-set {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}

		.col-1,
		.col-2 {
			width: calc( 50% - var(--wcti--width--col-gap--login-register) );

			&[class] {
				margin-block: 0;
			}
		}
	}
}

[data-template="order-confirmation"] h1 {
	max-width: var(--wcti--width--order);
	margin: 0 auto ( $ratio + rem );
	font-size: 2em;
}
