/* FILE: woocommerce/page/_checkout-order-received.scss */

.woocommerce-order {
	max-width: var(--wcti--width--order);
	margin-left: auto;
	margin-right: auto;

	section {
		margin-top: 2em;
	}
}

.woocommerce-order-details,
.woocommerce-order-downloads,
.woocommerce-customer-details {
	margin-top: calc( var(--wcti--spacing--white) / 2 );
}

.woocommerce-order-details {
	@extend %shaded_background;
	position: relative;
	padding: 2em 1em;
	border-radius: var(--wcti--border--radius);

	@include media( map_get( $breakpoint, 'm' ) ) {
		padding-left: 2em;
		padding-right: 2em;
	}
}

#{$selector_wc} {

	mark {
		padding: 0;
		margin: 0;
		font-weight: 700;
		background: none;
	}

	.addresses {

		div + div {
			margin-top: 2em;
		}
	}
}
