/* FILE: woocommerce/page/_header.scss */

.woocommerce-products-header {

	&,
	body .is-layout-flow > & {
		margin-bottom: var(--wcti--margin--page-header--bottom);
	}

	.page-header-content {
		max-width: var(--wcti--width--page-header-content);
	}

	.page-description,
	.term-description {
		margin-top: 2rem;
	}

	.search-results & {

		.page-description,
		.term-description {
			display: none;
		}
	}
}
