/* FILE: woocommerce/page/_header.scss */

.woocommerce-products-header {
	margin-bottom: 2rem;

	.page-description,
	.term-description {
		margin-top: 2rem;
	}

	.search-results & {

		.page-description,
		.term-description {
			display: none;
		}
	}
}
