/* FILE: woocommerce/page/_my-account-edit-address.scss */

.woocommerce-Address-title {
	display: flex;
	justify-content: space-between;
}

.woocommerce-address-fields__field-wrapper {
	margin-bottom: 2em;
}
