/* FILE: woocommerce/page/_my-account-downloads.scss */

.shop_table {

	.download-product {
		font-weight: 700;
	}

	.download-file {

		@include media( map.get( $breakpoint, 'l' ) ) {
			text-align: center;
		}

		.button {
			margin-block: 0;
			font-size: var(--wcti--font-size--s);
		}
	}
}
