/* FILE: woocommerce/page/_my-account-edit-address.scss */

.woocommerce-Address {

	&es {
		margin-top: 2em;
	}

	&-title {
		display: flex;
		justify-content: space-between;
		align-items: center;

		h3 {
			margin: 0;
		}
	}
}

.woocommerce .addresses,
.woocommerce-Address {

	address {
		margin-top: 1em;

		p {
			margin: 0;
		}
	}
}

.woocommerce-address-fields__field-wrapper {
	margin-bottom: 2em;
}

.woocommerce address p {
	margin-top: 0;
}
