/* FILE: woocommerce/page/_my-account-downloads.scss */

.woocommerce-MyAccount-content > .woocommerce-order-downloads {
	max-width: 100%;
}

.woocommerce .download-file .button.alt {
	padding: .25em .5em;
	margin: 0;
}
