/* FILE: woocommerce/page/_my-account-lost-password.scss */

.woocommerce-lost-password .woocommerce {
	max-width: var(--wcti--width--content);
	margin-left: auto;
	margin-right: auto;
}

.lost_reset_password {

	.form-row-first,
	.form-row-last {
		float: none;
		width: 100%;
	}

	.clear + .form-row {
		margin: 0;
	}

	.input-text,
	.button {
		width: 100%;
	}
}
