/* FILE: woocommerce/page/_my-account-lost-password.scss */

.lost_reset_password {
	max-width: var(--layout_width_entry_content);
	margin-left: auto;
	margin-right: auto;

	.form-row-first {
		float: none;
		width: 100%;
	}

	.clear + .form-row {
		margin: 0;
	}

	.input-text,
	.button {
		width: 100%;
	}

}
