/* FILE: woocommerce/page/_my-account-orders.scss */

.woocommerce-orders-table {

	& &__header,
	& &__cell {

		&-order-actions {

			@include media( map.get( $breakpoint, 'l' ) ) {
				text-align: center;
			}
		}
	}

	&__cell-order-total {

		.amount {
			font-weight: var(--wcti--font-weight--price);
			color: var(--wcti--color--content-h);
		}
	}
}
