/* FILE: woocommerce/page/_my-account-view-order.scss */

.woocommerce-OrderUpdate,
#{$selector_wc} .note {

	&:not(:first-child) {
		margin-top: 1em;
	}

	&s {
		margin: 0 auto calc( var(--white_space) / 2 );
		list-style: none;
	}

	.meta,
	&-meta {
		padding: .25rem 1rem;
		margin: 0;
		font-size: .8em;
		border-width: 1px;
		border-style: solid;
	}

	.description,
	&-description {
		padding: 1em 1em 0;
	}
}
