/* FILE: woocommerce/extensions/_menu-bar-cart.scss */

// @link  https://wordpress.org/plugins/woocommerce-menu-bar-cart/

.wpmenucartli {

	[role="img"]::before {
		font-size: 1.25em;
	}

	.cartcontents {
		margin-#{$left}: .25em;
	}

	// Inaccessible menu fallback indicating submenu.
	a::after {
		display: none;
	}

	// Should not be styled as active menu item.
	.woocommerce-account &,
	.woocommerce-cart &,
	.woocommerce-checkout & {

		a {
			font-weight: 700;

			&::before {
				display: none;
			}

		}

	}

}
