/* FILE: woocommerce/blocks/_active-filters.scss */

.wc-block-active-filters {

	.wc-block-active-filters__clear-all {
		font-size: .8em;
		text-decoration: none;
		color: var(--color_accent);

		&:active {
			background: none;
		}
	}
}
