/* FILE: woocommerce/blocks/_featured-category.scss */

.wc-block-featured-category {
	position: relative;
	padding: 2em;

	.wc-block-featured-category__title,
	.wc-block-featured-category__description,
	.wc-block-featured-category__price,
	.wc-block-featured-category__link {
		max-width: calc( var(--layout_width_entry_content) * #{ $golden_major } );
		padding: 0;
		margin: 10px 0;
	}

	.wc-block-featured-category__description {
		line-height: inherit;
	}

}
